body {
    background-repeat: no-repeat;
    background-position: top;
    background-size:cover;
}

.center-contenedor-login {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.contenedor-login {
    margin: 0 25px;
    width: 25%;
    border-radius: 20px;
    border-width: 6px;
    border-color: black;
    border-style: outset;
    align-items: center;
    text-align: center;

}
::placeholder{
    color: white;
}

input {
    display: block;
    margin: auto auto;
    width: 100%;
    margin-bottom: 2em;
    padding: 0.5em 0;
    border: none;
    background: rgb(145,76,19);
    background: radial-gradient(circle, rgba(145,76,19,1) 0%, rgba(205,149,70,1) 100%);
    color: rgb(230, 168, 68);
    border: none;
    text-align: center;
}

.btn {
    display: inline-block;
    border: 1px solid darken;
    padding: 0.5em 2em;
    background: rgb(145,76,19);
    background: radial-gradient(circle, rgba(145,76,19,1) 0%, rgba(205,149,70,1) 100%);
    margin-right: 0.5em;
    box-shadow: inset 0px 1px 0px;
}

body {
    min-height: 500px;
    height: 100vh;
    margin: 0px;
    background: rgb(145,76,19);
    background: radial-gradient(circle, rgba(145,76,19,1) 0%, rgba(205,149,70,1) 100%);
}