@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5f7;
  background-image: radial-gradient(#7b7df7 0.5px, transparent 0.5px),
    radial-gradient(#7b7df7 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.mainMenu {
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: red;
}

.menu {
  background-color: #1A202C;
  color: #fff;
  height: 80px;
}
 
.form {
  background-color: #fff;
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.6);
}
 
.formReg {
  background-color: #fff;
  margin: auto;
  width: 90%;
  max-width: 600px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.6);
  text-align: center;
}
 
.formTitle {
  font-size: 2rem;
  margin-bottom: 0.5em;
  font-family: "Roboto", sans-serif;
}
 
.formError {
  background-color: #f7baba;
  margin: 1em 0;
  padding: 2%;
  text-align: center;
  border-radius: 5px;
  color: #8d0000;
  display: none;
}
 
.formParagraph {
  font-weight: 300;
}
 
.formLink {
  font-weight: 400;
  color: #000;
}

.product-component__container {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 30vh;
  max-height: 30vh;
}

.product-component__content {
  height: 100%;
  background-color: red;
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product-component__img-container {
  width: 80%;
  height: 50%;
}

.product-component__img {
  max-width: 60%;
}
 
.menuContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  max-width: 2000px;
  height: 100%;
  margin: 0 auto;

}

.formContainer {
  margin-top: 3em;
  display: grid;
  gap: 2.5em;
}
 
.formGroup {
  position: relative;
  --color: #3f3f3f7e;
}

.menuLinks {
  height: 100%;
  transition: transform .5s;
  display: flex;
  font-weight: 300;
}


.menuItem {
  list-style: none;
  position: relative;
  height: 100%;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
  --transform: rotate(90deg);
}

.menuItemActive {
  --transform: rotate(0);
  --background: #5e7094;
}

.menuItemShow {
  background-color: var(--background);
}

.menuItem:hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  --transform: rotate(180deg);

}

.menuLinkContainer {
  background-color: #fff;
  width: 80%;
  height: 50%;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuLinkContainer p {
  color: #000;
  padding: 5%;
  font-weight: 400;
}


.menuLink {
  color: #fff;
  text-decoration: none;
  padding: 0 auto;
  display: flex;
  height: 100%;
  align-items: center;
  width: 15vh;
  justify-content: center;
}

.menuLink:hover {
  background-color: #5e7094;
}


#menuArrow {
  margin-left: 10px;
  transform: var(--transform);
  transition: transform .2s;
  display: block;
}

.menuNesting {
  list-style: none;
  transition: clip-path .3s;
  clip-path: var(--clip);
  background-color: #1A202C;
}

.menuInside {
  padding: 1rem 0.5rem;

}

.menuInside:hover {
  background-color: #5e7094;
}

.menuLinkInside {
  color: #fff;
  text-decoration: none;
  padding: 0 30px;
  display: flex;
  height: 100%;
  align-items: center;
}

.menuDisplay {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15;
  cursor: pointer;
  display: none;
}

#menuBars {
  display: block;
  width: 36px;
}

.formInput {
  width: 100%;
  background: none;
  color: #706c6c;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  border-bottom: 1px solid var(--color);
  font-family: "Roboto", sans-serif;
  outline: none;
}
 
.formInput:focus + .formLabel,
.formInput:not(:placeholder-shown) + .formLabel {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: #3866f2;
}
 
.formLabel {
  color: var(--color);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s;
}
 
.formSumbit {
  background-color: #3866f2;
  color: #fff;
  font-weight: 300;
  font-size: 1rem;
  padding: 0.8em;
  border: none;
  border-radius: 0.5em;
  font-family: "Roboto", sans-serif;
}
 
.formReg .formSumbit {
  width: 100%;
  margin: 1em 0;
}
 
.formLine {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #3866f2;
  transform: scale(0);
  transform: left bottom;
  transition: transform 0.4s;
}
 
.formInput:focus + .formLine + .formInput:not(:placeholder-shown) + .formLIne {
  transform: scale(1);
}
 
.parent {
  margin: 3em 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2.5em;
  width: 100%;
}
/* Menu admin */

.content-table {
  border-collapse: collapse;
  font-size: 1.2em;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;

}

.content-table thead tr {
  background-color: rgb(58, 163, 219);
  color: #ffffff;
  text-align: center;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.tabla {
  grid-area: Table;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.b_menu {
  color: black;
  border-top: rgb(4, 25, 37);
  border-right: rgb(4, 25, 37);
  border-bottom: blue 2px solid;
  border-left: rgb(4, 25, 37);
  border-color: #2336e7;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.b_menu:hover {
  color: white;
  background-color: rgb(58, 163, 219);
}

.fotoProduct {
  max-width: 100px;
  max-height: 100px;
  min-width: 100px;
  min-height: auto;
  margin: 0;
  padding: 0;
}


/* Formulario producto */
.center-contenedor-product {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* HE COMENTADO TODO ESTO PORQUE NO ES BUENO USAR SELECTORES DIRECTAMENTE DEL HTML, USA CLASES EN VEZ DE "FOOTER" */
/* div.contenedor-product {
  margin: 0 25px;
  width: 25%;
  border-radius: 20px;
  border-width: 6px;
  border-style: outset;
  align-items: center;
  text-align: center;
}

/* Footer */
/* footer {
  position:absolute;
  bottom:0;

  width:100%;
  height: 20px;

  text-align: center;
  letter-spacing: .1px;
  font-family: 'Cagliostro', sans-serif;
  font-size: .8em;
  background: #CCCCFF;
  color: darkblue;
  padding:3px 0px 0px 0px;
  margin: 0px;

  background-image: url("../imatges/angel.png");
  background-size: 4%;
  background-position: center right;
  background-repeat: no-repeat;
} */ 



/* RESPONSIVE */
@media (max-width:800px){
  .menuDisplay{
    display: flex;
  }
  .menuItem {
    --clip: 0;
    overflow: hidden;
    justify-content: flex-start;
  }
  .menuLinks{
    position: fixed;
    max-width: 400px;
    width: 100%;
    top: 80px;
    right: 0;
    bottom: 0;
    background-color: #000;
    overflow-y: auto;
    display: grid;
    grid-auto-rows: max-content;
    opacity: 0.9;
    transform: translate(100%);
  }
  .menuLinksShow {
    transform: unset;
    width: 100%;
  }
  .menuLink {
    padding: 25px 0;
    padding-left: 30px;
    height: auto;
    justify-content: left;
    width: 100%;
  }
  .menuLinkContainer {
    width: auto;
    background-color: #000;
  }
  .menuLinkContainer p {
    font-weight: 300;
    color: #fff;
  }
  .menuLink:hover {
    background-color: #000;
  }
  .menuNesting {
    display: grid;
    position: unset;
    width: 100%;
    transform: translateY(0);
    height: 0;
    transition: height .3s;
  }
  .menuLinkInside {
    width: 90%;
    margin-left: auto;
    border-left: 2px solid #1A202C;
  }
}